.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 600;

    border-radius: 12px;
    padding: 11px 30px;

    background-color: var(--color-primary);

    transition: .4s;
}

.btn:hover{
    background-color: var(--color-primary-hover);
}